CANVAS_ACCESS_TOKEN=PASTE_YOUR_TOKEN_HERE
API_URL=https://PASTE_YOUR_INSTITUTION_HERE.instructure.com/api/v1
COURSE_1_NAME_FALL_2024=PASTE_NUMBER_HERE
COURSE_2_NAME_FALL_2024=PASTE_NUMBER_HERE
COURSE_3_NAME_FALL_2024=PASTE_NUMBER_HERE